.body__container {
  background: #dcf1f7;
  background: linear-gradient(180deg, #dcf1f7 11%, #e3e6e6 29%);
  width: 1500px;
  margin: 0 auto;
}

.body__container .quad-grid-div {
  display: block;
}

h3 {
  margin: 1.33rem 1.33rem 0.7rem 1.33rem;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: default;
}

h4 {
  cursor: default;
}

.big-sprite {
  width: 277px;
  height: 314px;
  margin: 0 1.33rem;
}

.buy-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  color: #007185;
  padding: 0 2rem;
  z-index: 4;
}

.buy-button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #c7511f;
}

.small-buy-button-top {
  position: relative;
  bottom: -1%;
  left: 17%;
  text-align: center;
  margin: 0;

  color: #007185;
}

.small-buy-button-bottom {
  text-decoration: none;
  position: relative;
  bottom: -1%;
  left: 17%;
  text-align: center;
  margin: 0;

  color: #007185;
}

.medium-buy-button {
  margin-top: 0.3rem;
  position: relative;
  left: 12%;
  text-decoration: none;
  text-align: center;
  color: #007185;
}

.big-buy-button {
  position: relative;
  bottom: -0.7%;
  left: 24%;
  font-size: 1.35rem;
}

.quad-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 155px;
  justify-content: center;
  row-gap: 3rem;
}

.quad-grid__wrapper h3 {
  position: absolute;
  margin-left: 0.9rem;
}

.quad-grid-heading-top {
  position: absolute;
  bottom: -1%;
  left: 12%;
  font-weight: 400;
  font-size: 0.9rem;
  z-index: 1;
}

.quad-grid-heading-bottom {
  position: absolute;
  bottom: -37%;
  left: 12%;
  font-weight: 400;
  font-size: 0.9rem;
}

.quad-grid .quad-grid-div {
  margin: 3.5rem 1rem 1rem 1rem;
  padding: 0;
}

.quad-grid div:nth-child(even) {
  position: relative;
  right: 9%;
}

.quad-grid div:nth-child(odd) {
  position: relative;
  left: 1.9%;
}

.quad-grid div:nth-child(n + 3) {
  position: relative;
  bottom: 53%;
}

.flex-images {
  display: flex;
  padding: 1.5rem 2rem 1rem 2rem;
  align-items: center;
  column-gap: 1.4rem;
}

.flex-images h3 {
  margin: 0 0 0.5rem 0;
}

.body__images {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(10, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 15.6rem 1.2rem;
}

.body__grid {
  width: auto;
  background-color: rgb(255, 255, 255);
}

.a,
.b,
.c,
.d {
  grid-row: 1 / 3;
  height: auto;
}

.d {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}

.d-2 {
  background-color: white;
  height: 10rem;
}

.d-2 h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.sign-in-securely__button {
  background-color: #ffd814;
  padding: 6px 110px 8px;
  border-radius: 8px;
  font-weight: 400;
  border-style: none;
  margin-top: 0.3rem;
  margin-left: 5%;
  box-shadow: 0px 7px 10px -6px rgba(0, 0, 0, 0.1);
}

.sign-in-securely__button:hover {
  cursor: pointer;
  background-color: #f3ce13;
}

.e,
.f,
.g,
.h {
  grid-row: 3 / 5;
  height: auto;
}

.i,
.j {
  grid-column: 1/5;
  height: auto;
}

.k,
.l,
.m,
.n {
  grid-row: 7 / 9;
  height: auto;
}

.o {
  grid-column: 1/5;
  height: auto;
}

@media screen and (max-width: 1650px) {
  .body__container {
    width: 100vw;
    overflow: hidden;
  }
}

@media screen and (max-width: 1083px) {
  .footer .footer-upper-lists__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer .footer-lower-div {
    grid-template-columns: repeat(7, 1fr);
  }

  .lower__container {
    min-width: none;
  }

  .navbar-upper-container {
    grid-template-columns: 130px 1fr 130px 85px 72px 17px;
  }

  .language-select {
    display: none;
  }

  .location-select__button {
    display: none;
  }
  .body__container .pokemon-grid {
    display: none;
  }
  .body__container .body__images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .c h3 {
    display: none;
  }
}
