.cart-items__container {
  width: auto;
  height: auto;
  background-color: white;
  margin: 0 1.1rem 0 1.1rem;
  cursor: default;
  padding: 0 1.3rem;
}

.cart-flex {
  display: flex;
  width: 100vw;
}

.checkout__flex {
  width: 100vw;
}

.cart-item__flex {
  display: flex;
}

.details__flex {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-top: 2rem;
}

.custom-border {
  height: 1px;
  width: 100%;
  background-color: rgb(214, 214, 214);
}

.cart-price {
  margin-right: 0.05rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.cart-name {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.cart-quantity {
  margin-bottom: 1.3rem;
  background-color: #ececec;
  width: 5.5rem;
  margin-top: 0.2rem;
  padding: 0.35rem 0;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid rgb(202, 202, 202);
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
}

.shipping-text1 {
  color: #555858;
}
.shipping-text2 {
  color: #007286;
}

.shipping-text-div {
  padding-bottom: 0.65rem;
}

.shipment-speed-text {
  color: #c55500;
  padding-bottom: 0.65rem;
}

.in-stock {
  color: #007700;
  padding-bottom: 0.65rem;
}

.cart-list-heading-flex {
  display: flex;
  flex-direction: row;
  margin: 1.1rem 1.1rem 0 1.1rem;
  width: auto;
  background-color: white;
}

.shopping-cart-title {
  flex-grow: 2;
  font-size: 1.8rem;
  padding: 1.3rem;
}

.price-title {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(100, 100, 100);
  padding: 3.4rem 1.3rem 0 0;
}

.cart-checkout {
  background-color: white;
  height: 10rem;
  width: 26rem;
  margin-top: 1.1rem;
  margin-right: 1.5rem;
}

.cart-checkout-shipping-text {
  font-size: 0.8rem;
  padding: 1.3rem;
  text-align: center;
  color: #077c61;
}

.subtotal {
  font-size: 1.2rem;
  padding: 1.2rem 0 0 1.5rem;
  font-weight: 400;
}

.cart-total {
  font-weight: 700;
  font-size: 1.2rem;
}

.checkout-button {
  background-color: #ffd814;
  padding: 6px 0 8px;
  border-radius: 8px;
  font-weight: 400;
  border-style: none;
  margin: 1.4rem 5% 0 5%;
  box-shadow: 0px 7px 10px -6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.checkout-button:hover {
  cursor: pointer;
  background-color: #f3ce13;
}

.cart-list-footer__wrapper {
  background-color: white;
  margin: 0rem 1.1rem 1.1rem 1.1rem;
  width: auto;
}

.cart-list-footer-flex {
  display: flex;
  background-color: white;
  margin: 0rem 1.1rem 1.1rem 1.1rem;
  width: auto;
  border-top: 1px solid rgb(214, 214, 214);
}

.cart-list-footer-filler {
  flex-grow: 2;
}

.cart-list-footer-total {
  font-size: 1.3rem;
  padding: 4px 0 3.4rem 0;
  font-weight: 700;
}

.cart-list-footer-text {
  font-size: 1.3rem;
  margin-right: 5px;
  padding-top: 3px;
}
