.navbar-upper-container {
  display: grid;
  grid-template-columns: 130px 165px 1fr 75px 130px 85px 72px 17px;
  grid-template-rows: 60px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #131921;
  width: 100vw;
  min-width: 970px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
}

.container__shadowed {
  display: grid;
  grid-template-columns: 130px 165px 1fr 75px 130px 85px 72px 17px;
  grid-template-rows: 60px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #131921;
  width: 100vw;
  min-width: 970px;
  height: 60px;
  box-shadow: 0px 10099px 0px 10000px rgba(0, 0, 0, 0.6);
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 3;
}

.navbar-upper-container > * {
  margin: 5px;
}
.container__shadowed > * {
  margin: 5px;
}

/* Amzin Logo */
.navbar-upper-container img {
  height: 52px;
}
.container__shadowed img {
  height: 52px;
}
/* End */

/* Location Button */
.location-select__button {
  text-align: left;
  border: 0;
  background-color: #131921;
}

.location-select__button p {
  margin: 0;
  background-color: #131921;
}

.location-select__button-p-1 {
  color: #c9cccc;
  font-weight: 400;
  font-size: 0.75rem;
}

.location-select__button-p-2 {
  position: relative;
  bottom: 5%;
  font-weight: bold;
  color: white;
}
/* End */

/* Search Bar */

.search-container {
  display: grid;
  grid-template-columns: 60px 1fr 50px;
  margin: 10px 5px;
}

.search-container__focused {
  border-radius: 5px;
  box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgba(255, 153, 0, 0.493);
  display: grid;
  grid-template-columns: 60px 1fr 50px;
  margin: 10px 5px;
}

.search-dropdown {
  width: stretch;
  height: stretch;
  background-color: #eaeaea;
  border-style: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #4b4b4b;
}

.search-dropdown:hover,
.search-dropdown:focus {
  color: black;
  background-color: #cbcbcb;
}

.search-dropdown:focus {
  position: relative;
}

.search-input:focus {
  outline: none;
}

.search-input {
  font-size: 1rem;
  padding-left: 0.6rem;
  padding-bottom: 0.3rem;
}

.search-button:focus {
  outline: none;
}

.search-button:hover {
  color: black;
  background-color: #ffa940;
  cursor: pointer;
}

.search-button:active {
  box-shadow: 0px 10088px 0px 10000px rgba(0, 0, 0, 0.6);
}

.search-button {
  background-color: #fabd71;
  color: #fabd71;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-input,
.search-button {
  border-style: none;
}

.search-icon {
  position: relative;
  height: 25px;
  right: 13%;
  top: 3%;
}

/* End */

/* Flag */
.language-select {
  background-color: #131921;
  border-style: none;
}

.language-select p {
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  display: inline;
  position: relative;
  bottom: -12%;
  left: 10%;
}

.navbar-upper-container .dropdown-flag {
  height: 14px;
  position: relative;
  bottom: -15%;
}
.container__shadowed .dropdown-flag {
  height: 14px;
  position: relative;
  bottom: -15%;
}
/* End */

/* Account & Lists */
.signin-dropbtn {
  background-color: #131921;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 120px;
  position: relative;
  z-index: 3;
}

.signin-dropdown-content .login-button:hover {
  background-color: #f0c45e;
  cursor: pointer;
}

.signin__header {
  margin: 0;
  font-size: 0.8rem;
  position: absolute;
  top: 16%;
}

.signin__subheader {
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
  position: absolute;
  top: 47%;
}

.signin-dropdown {
  position: relative;
  display: inline-block;
}

.signin-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 500px;
  height: 500px;
  z-index: 2;
  right: -60%;
  border-radius: 3px;
}

.signin-dropdown-content__grid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 100px 1fr;
}

.signin-dropdown-header {
  grid-column: 1 / 3;
  text-align: center;
}

.signin-dropdown-content .login-button {
  background-color: #f1ce7b;
  margin: 10px auto 0 auto;
  padding: 5px 10px 5px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #9d7310;
  font-weight: 500;
  width: 12rem;
}

.signin-dropdown-container {
  position: relative;
  bottom: 6%;
}

.signin-dropdown-header > p {
  position: relative;
  bottom: 7%;
  font-size: 0.8rem;
}

.signin-dropdown-subheader {
  font-size: 1.1rem;
  font-weight: 400px;
  margin: 0 0 7px 0;
  padding-left: 16px;
}

.signin-dropdown-content a {
  color: black;
  padding: 4px 0 4px 16px;
  text-decoration: none;
  display: block;
  height: 28px;
}

.signin-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.signin-dropdown:hover .signin-dropdown-content {
  display: block;
}

.signin-dropdown:hover .signin-dropbtn {
  border: white solid 1px;
  border-radius: 2px;
}
/* End */

/* Returns & Orders */
.orders__container {
  background-color: #131921;
  border-style: none;
}

.orders__header {
  font-size: 0.8rem;
  position: relative;
  top: -12%;
  color: white;
}

.orders__subheader {
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
  position: relative;
  top: -43%;
  color: white;
}
/* End */

/* Shopping Cart */
.checkout__wrapper {
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 72px 17px;
  grid-template-rows: 60px;
  top: 0%;
  z-index: 2;
}

.navbar-checkout__wrapper {
  position: relative;
  top: 12%;
  right: 4%;
}

.checkout {
  background-color: #131921d8;
  display: block;
  border-style: none;
  border-radius: 30px;
  text-decoration: none;
}

.checkout .shopping-cart__photo {
  height: 45px;
  position: absolute;
  top: 21%;
}

.checkout .navbar-shopping-cart__photo {
  height: 45px;
  position: absolute;
  top: 1.6%;
  right: 5%;
}

.cart-amount {
  color: rgb(233, 151, 0);
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
  bottom: 18%;
  left: 49%;
}

.navbar-cart-amount {
  color: rgb(233, 151, 0);
  font-weight: bold;
  font-size: 1.3rem;
  position: absolute;
  bottom: 13%;
  left: 53%;
}

.cart-amount-10-plus {
  color: rgb(233, 151, 0);
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
  bottom: 19%;
  left: 40%;
}
.navbar-cart-amount-10-plus {
  color: rgb(233, 151, 0);
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
  left: 43%;
  bottom: 22px;
}

.cart-amount-99-plus {
  color: rgb(233, 151, 0);
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
  bottom: -2%;
  left: 39%;
}
.navbar-cart-amount-99-plus {
  color: rgb(233, 151, 0);
  font-weight: bold;
  font-size: 0.9rem;
  position: relative;
  bottom: 11px;
  left: 41%;
}
/* End */
