.sprite2 {
  background: url("../Photos/sprite2.png") no-repeat top left;
  width: 180px;
  height: 180px;
}
.sprite2.pexels-anthony--158834 {
  background-position: -40px 0;
}
.sprite2.pexels-dom-j-45055 {
  background-position: -290px 0;
}
.sprite2.pexels-dom-j-45982 {
  background-position: -565px 0;
}
.sprite2.pexels-fernando-arcos-190819 {
  background-position: -830px 0;
}
.sprite2.pexels-jatin-anand-125779 {
  background-position: -1076px 0;
}
.sprite2.pexels-joey-nguyn-2113994 {
  background-position: -1377px 0;
}
.sprite2.pexels-kaique-rocha-90365 {
  background-position: -1725px 0;
}
.sprite2.pexels-kat-smith-568022 {
  background-position: -1918px -70px;
}
.sprite2.pexels-kindel-media-6573691 {
  background-position: -2108px 0;
}
.sprite2.pexels-kinkate-gruber-212236 {
  background-position: -2358px 0;
}
.sprite2.pexels-lisa-fotios-880720 {
  background-position: -2738px 0;
}
.sprite2.pexels-lukas-292999 {
  background-position: -3010px 0;
}
.sprite2.pexels-marcus-murphy-1878821 {
  background-position: -3280px 0;
}
.sprite2.pexels-messala-ciulla-1018484 {
  background-position: -3567px 0;
}
.sprite2.pexels-mnz-1598505 {
  background-position: -3857px 0;
}
.sprite2.pexels-mnz-1670770 {
  background-position: -4110px 0;
}
.sprite2.pexels-mohi-syed-47261 {
  background-position: -4410px 0;
}
.sprite2.pexels-nicola-barts-7936980 {
  background-position: -4647px -30px;
}
.sprite2.pexels-pixabay-48020 {
  background-position: -4867px 0;
}
.sprite2.pexels-pixabay-264636 {
  background-position: -5087px 0;
}
.sprite2.pexels-pixabay-371285 {
  background-position: -5367px 0;
}
.sprite2.pexels-roman-pohorecki-16170 {
  background-position: -5647px 0;
}
.sprite2.pexels-sanni-sahil-2585916 {
  background-position: -5926px 0;
}
.sprite2.pexels-tirachard-kumtanom-601168 {
  background-position: -6206px 0;
}
.sprite2.pexels-shane-aldendorff-786003 {
  background-position: -6486px 0;
}
