.sprite4 {
  background: url("../Photos/sprite4.png") no-repeat top left;
  height: 180px;
  width: 180px;
  margin: 2rem 2rem 2rem 1rem;
}
.sprite4.pexels-aman-jakhar-2048548 {
  background-position: 0 0;
}
.sprite4.pexels-amar-preciado-9993287 {
  background-position: -190px 0;
}
.sprite4.pexels-andrew-varnum-13743558 {
  background-position: -380px 0;
}
.sprite4.pexels-anthony--158834 {
  background-position: -710px 0;
}
.sprite4.pexels-dids-1367036 {
  background-position: -950px 0;
}
.sprite4.pexels-dids-1986996 {
  background-position: -1230px 0;
}
.sprite4.pexels-dom-j-45055 {
  background-position: -1510px 0;
}
.sprite4.pexels-dom-j-45982 {
  background-position: -1790px 0;
}
.sprite4.pexels-evg-kowalievska-1040173 {
  background-position: -2066px 0;
}
.sprite4.pexels-fernando-arcos-190819 {
  background-position: -2256px 0;
}
.sprite4.pexels-godisable-jacob-794062 {
  background-position: -2537px 0;
}
.sprite4.pexels-godisable-jacob-1191536 {
  background-position: -2727px 0;
}
.sprite4.pexels-joey-nguyn-2113994 {
  background-position: -2917px 0;
}
.sprite4.pexels-kaique-rocha-90365 {
  background-position: -3199px 0;
}
.sprite4.pexels-kindel-media-6573691 {
  background-position: -3479px 0;
}
.sprite4.pexels-kat-smith-568022 {
  background-position: -3729px 0;
}
.sprite4.pexels-kindel-media-6573713 {
  background-position: -3919px 0;
}
.sprite4.pexels-kinkate-gruber-205923 {
  background-position: -4109px 0;
}
.sprite4.pexels-kinkate-gruber-212236 {
  background-position: -4417px 0;
}
.sprite4.pexels-kristina-paukshtite-704805 {
  background-position: -4732px 0;
}
.sprite4.pexels-life-of-pix-7974 {
  background-position: -4922px 0;
}
.sprite4.pexels-lisa-fotios-880720 {
  background-position: -5202px 0;
}
.sprite4.pexels-luis-quintero-4000090 {
  background-position: -5492px 0;
}
.sprite4.pexels-luis-quintero-14174472 {
  background-position: -5682px 0;
}
.sprite4.pexels-lukas-292999 {
  background-position: -5962px 0;
}
.sprite4.pexels-marcus-murphy-1878821 {
  background-position: -6244px 0;
}
.sprite4.pexels-mark-neal-2954199 {
  background-position: -6524px 0;
}
.sprite4.pexels-matheus-bertelli-2905238 {
  background-position: -6714px 0;
}
.sprite4.pexels-messala-ciulla-1018484 {
  background-position: -6904px 0;
}
.sprite4.pexels-mnz-1598505 {
  background-position: -7186px 0;
}
.sprite4.pexels-mnz-1670770 {
  background-position: -7466px 0;
}
.sprite4.pexels-mohi-syed-47261 {
  background-position: -7746px 0;
}
.sprite4.pexels-nicola-barts-7936980 {
  background-position: -8026px 0;
}
.sprite4.pexels-pixabay-48020 {
  background-position: -8216px 0;
}
.sprite4.pexels-pixabay-264636 {
  background-position: -8466px 0;
}
.sprite4.pexels-pixabay-266621 {
  background-position: -8746px 0;
}
.sprite4.pexels-pixabay-371285 {
  background-position: -9026px 0;
}
.sprite4.pexels-ravindra-rawat-1294731 {
  background-position: -9306px 0;
}
.sprite4.pexels-robert-bogdan-910122 {
  background-position: -9586px 0;
}
.sprite4.pexels-shane-aldendorff-786003 {
  background-position: -9866px 0;
}
.sprite4.pexels-suzy-hazelwood-2533266 {
  background-position: -10146px 0;
}
