.sprite3 {
  background: url("../Photos/sprite3.png") no-repeat top left;
  height: 120px;
  width: 155px;
}
.sprite3.pexels-andrew-varnum-13743558 {
  background-position: -25px 0;
}
.sprite3.pexels-dids-1367036 {
  background-position: -223px 0;
}
.sprite3.pexels-dids-1986996 {
  background-position: -412px 0;
}
.sprite3.pexels-erik-mclean-9229827 {
  background-position: -602px 0;
}
.sprite3.pexels-godisable-jacob-1191536 {
  background-position: -792px -50px;
}
.sprite3.pexels-jude-stevens-984619 {
  background-position: -962px 0;
}
.sprite3.pexels-kinkate-gruber-205923 {
  background-position: -1092px 0;
}
.sprite3.pexels-life-of-pix-7974 {
  background-position: -1314px 0;
}
.sprite3.pexels-luis-quintero-2294407 {
  background-position: -1491px 0;
}
.sprite3.pexels-luis-quintero-14174472 {
  background-position: -1640px 0;
}
.sprite3.pexels-mark-neal-2954199 {
  background-position: -1825px -30px;
}
.sprite3.pexels-martin-pchy-2078268 {
  background-position: -1981px 0;
}
.sprite3.pexels-pixabay-47856 {
  background-position: -2111px 0;
}
.sprite3.pexels-pixabay-266621 {
  background-position: -2260px 0;
}
.sprite3.pexels-pixabay-301367 {
  background-position: -2431px 0;
}
.sprite3.pexels-ravindra-rawat-1294731 {
  background-position: -2561px 0;
}
.sprite3.pexels-ray-piedra-1502216 {
  background-position: -2751px 0;
}
.sprite3.pexels-ray-piedra-2721977 {
  background-position: -2881px 0;
}
.sprite3.pexels-robert-bogdan-910122 {
  background-position: -3071px 0;
}
.sprite3.pexels-suzy-hazelwood-2533266 {
  background-position: -3261px 0;
}
