.sprite4 {
  background: url("../Photos/sprite4.png") no-repeat top left;
  height: 180px;
  width: 180px;
  margin: 2rem 2rem 2rem 1rem;
}
.sprite4.pexels-aman-jakhar-2048548 {
  background-position: 0 -32px;
}
.sprite4.pexels-amar-preciado-9993287 {
  background-position: -190px -68px;
}
.sprite4.pexels-andrew-varnum-13743558 {
  background-position: -445px 0;
}
.sprite4.pexels-anthony--158834 {
  background-position: -750px 0;
}
.sprite4.pexels-dids-1367036 {
  background-position: -960px -10px;
}
.sprite4.pexels-dids-1986996 {
  background-position: -1250px 0;
}
.sprite4.pexels-dom-j-45055 {
  background-position: -1560px 0;
}
.sprite4.pexels-dom-j-45982 {
  background-position: -1837px 0;
}
.sprite4.pexels-evg-kowalievska-1040173 {
  background-position: -2066px -5px;
}
.sprite4.pexels-fernando-arcos-190819 {
  background-position: -2291px 0;
}
.sprite4.pexels-godisable-jacob-794062 {
  background-position: -2537px -20px;
}
.sprite4.pexels-godisable-jacob-1191536 {
  background-position: -2727px -50px;
}
.sprite4.pexels-joey-nguyn-2113994 {
  background-position: -2938px 0;
}
.sprite4.pexels-kaique-rocha-90365 {
  background-position: -3290px 0;
}
.sprite4.pexels-kindel-media-6573691 {
  background-position: -3489px 0;
}
.sprite4.pexels-kat-smith-568022 {
  background-position: -3729px -70px;
}
.sprite4.pexels-kindel-media-6573713 {
  background-position: -3919px -27px;
}
.sprite4.pexels-kinkate-gruber-205923 {
  background-position: -4109px 0;
}
.sprite4.pexels-kinkate-gruber-212236 {
  background-position: -4430px 0;
}
.sprite4.pexels-kristina-paukshtite-704805 {
  background-position: -4732px -40px;
}
.sprite4.pexels-life-of-pix-7974 {
  background-position: -5005px 0;
}
.sprite4.pexels-lisa-fotios-880720 {
  background-position: -5270px 0;
}
.sprite4.pexels-luis-quintero-4000090 {
  background-position: -5492px -47px;
}
.sprite4.pexels-luis-quintero-14174472 {
  background-position: -5738px 0;
}
.sprite4.pexels-lukas-292999 {
  background-position: -6010px 0;
}
.sprite4.pexels-marcus-murphy-1878821 {
  background-position: -6279px 0;
}
.sprite4.pexels-mark-neal-2954199 {
  background-position: -6524px -20px;
}
.sprite4.pexels-matheus-bertelli-2905238 {
  background-position: -6714px -52px;
}
.sprite4.pexels-messala-ciulla-1018484 {
  background-position: -6944px 0;
}
.sprite4.pexels-mnz-1598505 {
  background-position: -7237px 0;
}
.sprite4.pexels-mnz-1670770 {
  background-position: -7499px 0;
}
.sprite4.pexels-mohi-syed-47261 {
  background-position: -7787px 0;
}
.sprite4.pexels-nicola-barts-7936980 {
  background-position: -8026px -40px;
}
.sprite4.pexels-pixabay-48020 {
  background-position: -8244px -12px;
}
.sprite4.pexels-pixabay-264636 {
  background-position: -8466px 0;
}
.sprite4.pexels-pixabay-266621 {
  background-position: -8799px 0;
}
.sprite4.pexels-pixabay-371285 {
  background-position: -9026px 0;
}
.sprite4.pexels-ravindra-rawat-1294731 {
  background-position: -9306px 0;
}
.sprite4.pexels-robert-bogdan-910122 {
  background-position: -9624px 0;
}
.sprite4.pexels-shane-aldendorff-786003 {
  background-position: -9899px 0;
}
.sprite4.pexels-suzy-hazelwood-2533266 {
  background-position: -10184px 0;
}
